.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: xx-large; 
    color: black;

  }

  .centeredb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: large; 
    color: black;
  }

  #introimage{
    display: block;
    background-color: #EFC888; 
    height: auto;
    width: 100%;}

    h1.intro {
        color: #000000;
        text-align: center;
        font-family: 'Inconsolata', monospace;
        font-size: 2.0em;
        margin: 0;
        width: 100%;
        white-space: nowrap;
      }  
        
      h2.intro {
        text-align: center;  
        font-family: 'Inconsolata', monospace;
        font-style: italic;
        color: black;
        font-size: 1.5em;
        margin: 0;
        margin-bottom: 0%;
      }
      
      button.intro{
       
            background-color: #3e4142;
            border: none;
            color: white;
            padding: 20px 34px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 30px;
            margin: 4px 2px;
            cursor: pointer;
            transform: translate(100%, -100%);
          
      }

      .btn-wrapper{ 
        text-align:center; 
        position:absolute; 
        bottom: 0px; 
        margin: 0 auto; 
        width:100%;
        transform: translate(0%, -400%);
      }
